{% extends 'base.html.twig' %}

{% block title %}Профиль{% endblock %}

{% block body %}
    <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">Профиль</h1>
                    <ul class="breadcrumbs Middle-breadcrumbs">
                        <li class="breadcrumbs-item"><a href="{{ path('app_main') }}">Главная</a></li>
                        <li class="breadcrumbs-item"><a href="{{ path('app_account') }}">Личный кабинет</a></li>
                        <li class="breadcrumbs-item breadcrumbs-item_current"><span>Профиль</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Section Section_column Section_columnLeft">
            <div class="wrap">
                <div class="Section-column">
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">Навигация</strong>
                        </header>
                        <div class="Section-columnContent">
                            <div class="NavigateProfile">
                                <ul class="menu menu_vt">
                                    <li class="menu-item"><a class="menu-link" href="{{ path('app_account') }}">Личный
                                            кабинет</a></li>
                                    <li class="menu-item_ACTIVE menu-item"><a class="menu-link"
                                                                              href="{{ path('app_profile') }}">Профиль</a>
                                    </li>
                                    <li class="menu-item"><a class="menu-link" href="{{ path('app_historyorder') }}">История
                                            заказов</a></li>
                                    <li class="menu-item"><a class="menu-link" href="{{ path('app_historyview') }}">История
                                            просмотра</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Section-content">
                    <div class="Profile">
                        {{ form_start(updateForm, { attr: {class: 'form Profile-form'} }) }}
                        <div class="row">
                            <div class="row-block">

                                <div class="form-group {% if not updateForm.image.vars.valid %}form-input_error{% endif %}">
                                    {{ form_label(updateForm.image) }}
                                    {{ form_errors(updateForm.image) }}
                                    <div class="Profile-avatar">
                                        <div class="Profile-img">
                                            {% if updateForm.vars.data.avatar %}
                                                <img src="{{ uploaded_asset('avatar_uploads_url', updateForm.vars.data.avatar) }}"
                                                     alt="{{ updateForm.vars.data.avatar }}">
                                            {% else %}
                                                <img>
                                            {% endif %}
                                        </div>
                                        <label class="Profile-fileLabel" for="avatar">Выберите аватар
                                        </label>
                                        {{ form_widget(updateForm.image) }}
                                    </div>
                                </div>

                                <div class="form-group {% if not updateForm.fio.vars.valid %}form-input_error{% endif %}">
                                    {{ form_label(updateForm.fio) }}
                                    {{ form_errors(updateForm.fio) }}
                                    {{ form_widget(updateForm.fio) }}
                                </div>

                            </div>

                            <div class="row-block">
                                <div class="form-group {% if not updateForm.phone.vars.valid %}form-input_error{% endif %}">
                                    {{ form_label(updateForm.phone) }}
                                    {{ form_errors(updateForm.phone) }}
                                    {{ form_widget(updateForm.phone) }}
                                    <script>
                                        $(function () {
                                            $(`#user_update_form_phone`).inputmask('+7 (999) 999-99-99')
                                        })
                                    </script>
                                </div>

                                <div class="form-group {% if not updateForm.email.vars.valid %}form-input_error{% endif %}">
                                    {{ form_label(updateForm.email) }}
                                    {{ form_errors(updateForm.email) }}
                                    {{ form_widget(updateForm.email) }}
                                </div>

                                <div class="form-group {% if not updateForm.plainPassword.vars.valid %}form-input_error{% endif %}">
                                    {{ form_label(updateForm.plainPassword) }}
                                    {{ form_errors(updateForm.plainPassword) }}
                                    {{ form_widget(updateForm.plainPassword) }}
                                </div>

                                <div class="form-group {% if not updateForm.plainPasswordReply.vars.valid %}form-input_error{% endif %}">
                                    {{ form_label(updateForm.plainPasswordReply) }}
                                    {{ form_errors(updateForm.plainPasswordReply) }}
                                    {{ form_widget(updateForm.plainPasswordReply) }}
                                </div>

                                <div class="form-group">
                                    <div class="Profile-btn">
                                        <button class="btn btn_success" type="submit">Сохранить</button>
                                    </div>
                                    {% for message in app.flashes('success_profile_change') %}
                                        <div class="Profile-success">{{ message }}</div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                        {{ form_end(updateForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
