{% extends 'base.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block body %}

    <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">Авторизация</h1>
                    <ul class="breadcrumbs Middle-breadcrumbs">
                        <li class="breadcrumbs-item"><a href="{{ path('app_main') }}">Главная</a></li>
                        <li class="breadcrumbs-item breadcrumbs-item_current"><span>Авторизация</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Section">
            <div class="wrap">

                <form class="form Authorization" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="row">
                        <div class="row-block">
                            {% if error %}
                                <div class="form-group">
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                </div>
                            {% endif %}

                            {% if app.user %}
                                <div class="form-group">
                                    <div class="mb-3">
                                        Вы уже зашли как {{ app.user.userIdentifier }}, <a
                                                href="{{ path('app_logout') }}">Выйти</a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <label class="form-label" for="phone">Телефон</label>
                                    <input class="form-input" id="phone" name="phone" type="text"
                                           placeholder="+70000000000"
                                           value="{{ last_phone }}"
                                           data-validate="require"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="password">Пароль</label>
                                    <input class="form-input" id="password" name="password" type="password"
                                           placeholder="Ваш пароль"
                                           data-validate="require"/>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn_primary" type="submit">Войти</button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
