<div class="Comments">
    {% for feedback in product.feedbacks %}
        <div class="Comment">
            <div class="Comment-column Comment-column_pict">
                <div class="Comment-avatar"></div>
            </div>
            <div class="Comment-column">
                <header class="Comment-header">
                    <div><strong class="Comment-title">{{ feedback.createdBy.fio }}
                        </strong> <span class="Comment-date">{{ feedback.createdAt|date("H:i - d F Y") }}</span></div>
                </header>
                <div class="Comment-content">{{ feedback.text }}</div>
            </div>
        </div>
    {% endfor %}
</div>


{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <header class="Section-header Section-header_product">
        <h3 class="Section-title">Оставить отзыв</h3>
    </header>
    <div class="Tabs-addComment">
        {{ form_start(feedbackForm, { attr: {class: 'form'} }) }}
        <div class="form-group {% if not feedbackForm.text.vars.valid %}form-input_error{% endif %}">
            {{ form_errors(feedbackForm.text) }}
            {{ form_widget(feedbackForm.text) }}
        </div>
        <div class="form-group">
            <button class="btn btn_muted" type="submit">Оставить отзыв</button>
        </div>
        {{ form_end(feedbackForm) }}
    </div>
{% endif %}