<div class="Cards">
    {% for key,product in top %}
        {% set cost = product.cost %}
        {% set product = product[0] %}
        <div class="Card{% if key>=4 %} hide_md{% endif %}{% if key>=6 %} hide_1450{% endif %}">
            <a class="Card-picture" href="{{ path('app_product_view',{id:product.id}) }}">
                <img src="{{ uploaded_asset('product_uploads_url', product.productImages[0].img) }}"
                     alt="{{ product.productImages[0].img }}"/></a>
            <div class="Card-content">
                <strong class="Card-title">
                    <a href="{{ path('app_product_view',{id:product.id}) }}">{{ product.name }}</a>
                </strong>
                <div class="Card-description">
                    <div class="Card-cost">
                        <span class="Card-price">${{ cost }}</span>
                    </div>
                    <div class="Card-category">{{ product.category.name }} </div>
                    <div class="Card-hover">
                        <a class="Card-btn" href="#">
                            <img src="{{ asset('/assets/img/icons/card/bookmark.svg') }}"
                                 alt="bookmark.svg"/>
                        </a>
                        <a class="Card-btn" href="#">
                            <img src="{{ asset('/assets/img/icons/card/cart.svg') }}" alt="cart.svg"/>
                        </a>
                        <a class="Card-btn" href="compare.html">
                            <img src="{{ asset('/assets/img/icons/card/change.svg') }}" alt="change.svg"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="Card-sale">-60%</div>
        </div>
    {% endfor %}
</div>